# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# CI cashes
.mypy_cache/

# Environments
venv/

# PyCharm settings
.idea/

# Data
/data/
/test_data/
